
.catalogMenu__wrapper
    .catalogMenu.catalogMenu__hidden
        nav#menuVertical
            ul
                li
                    .catalogMenu-title-menu__container
                        .catalogMenu-title-menu: a(href="toys-games.html" id="catalogMenu-title-menu") Игрушки и игры
                        .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow    
                    ul
                        li
                            .catalogMenu-title-menu__container
                                .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu2") Конструкторы
                                .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow2 
                        li
                            .catalogMenu-title-menu__container
                                .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu2") Куклы и аксессуары
                                .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow2
                        li
                            .catalogMenu-title-menu__container
                                .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu2") Мягкие игрушки
                                .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow2
                        li
                            .catalogMenu-title-menu__container
                                .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu2") Игрушечный транспорт
                                .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow2
                        li
                            .catalogMenu-title-menu__container
                                .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu2") Радиоуправляемые игрушки
                                .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow2
                        li
                            .catalogMenu-title-menu__container
                                .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu2") Игровые наборы и фигурки
                                .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow2
                        li
                            .catalogMenu-title-menu__container
                                .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu2") Сюжетно-ролевые наборы
                                .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow2
                        li
                            .catalogMenu-title-menu__container
                                .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu2") Игрушки для малышей и дошколь...
                                .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow2
                            ul
                                li: a(href="#" id="catalogMenu-title-menu3") Интерактивные игрушки для малышей
                                li: a(href="#" id="catalogMenu-title-menu3") Игрушки развивающие для детей
                                li: a(href="#" id="catalogMenu-title-menu3") Развивающие коврики
                                li: a(href="#" id="catalogMenu-title-menu3") Игрушки для кроваток и колясок
                                li: a(href="#" id="catalogMenu-title-menu3") Погремушки
                                li: a(href="#" id="catalogMenu-title-menu3") Игрушечный транспорт для малышей
                                li: a(href="#" id="catalogMenu-title-menu3") Музыкальные инструменты для малышей
                                li
                                    .catalogMenu-title-menu__container
                                        .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu3") Развивающие игрушки
                                        .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow3
                                    ul
                                        li 
                                            .catalogMenu-ul-li-img
                                li: a(href="#" id="catalogMenu-title-menu3") Развивающие ходунки
                                li: a(href="#" id="catalogMenu-title-menu3") Мобили
                                li: a(href="#" id="catalogMenu-title-menu3") Ночники и проекторы
                                li: a(href="#" id="catalogMenu-title-menu3") Игрушки для купания и аксессуары
                        li
                            .catalogMenu-title-menu__container
                                .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu2") Игры настольные
                                .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow2
                        li
                            .catalogMenu-title-menu__container
                                .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu2") Музыкальные инструменты
                                .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow2
                        li
                            .catalogMenu-title-menu__container
                                .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu2") Бытовая техника для детей
                                .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow2
                        li
                            .catalogMenu-title-menu__container
                                .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu2") Электроника для детей
                                .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow2
                li
                    .catalogMenu-title-menu__container
                        .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Гигиена и уход
                        .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow
                li
                    .catalogMenu-title-menu__container
                        .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Детская комната
                        .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow
                li
                    .catalogMenu-title-menu__container
                        .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Питани и кормление
                        .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow
                li
                    .catalogMenu-title-menu__container
                        .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Прогулки и путешествия
                        .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow
                li
                    .catalogMenu-title-menu__container
                        .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Одежда и обувь
                        .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow
                li
                    .catalogMenu-title-menu__container
                        .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Школа
                        .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow
                li
                    .catalogMenu-title-menu__container
                        .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Спорт и отдых
                        .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow
                li
                    .catalogMenu-title-menu__container
                        .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Хобби и творчество
                        .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow
                li
                    .catalogMenu-title-menu__container
                        .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Продукты для здоровья и спорта
                        .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow
                li
                    .catalogMenu-title-menu__container
                        .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Дом
                        .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow
                li
                    .catalogMenu-title-menu__container
                        .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Для мамы
                        .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow
                li
                    .catalogMenu-title-menu__container
                        .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Книги
                        .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow
                li
                    .catalogMenu-title-menu__container
                        .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Зоозавр
                        .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow
                li
                    .catalogMenu-title-menu__container
                        .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Акции
                        .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow
                li
                    .catalogMenu-title-menu__container
                        .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Промокоды
                        .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow
                li
                    .catalogMenu-title-menu__container
                        .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Идеи
                        .catalogMenu-title-menu-arrow#catalogMenu-title-menu-arrow
