.catalogMenu__wrapper
    .catalogMenu.catalogMenu__hidden
        nav.catalogMenu-menu__container    
            div(class="catalogMenu-menu") 
                div(class="catalogMenu-title-menu__container" onclick="openMenuCatalog(this);return false")   
                    .catalogMenu-title-menu Игрушки и игры
                    .catalogMenu-title-menu-arrow    
                ul.menu-li-catalogMenu__hidden
                    li: a(href="#") Конструкторы
                    li: a(href="#") Куклы и аксессуары
                    li: a(href="#") Мягкие игрушки
                    li: a(href="#") Игрушечный транспорт
                    li: a(href="#") Радиоуправляемые игрушки
                    li: a(href="#") Игровые наборы и фигурки
                    li: a(href="#") Сюжетно-ролевые наборы
                    li: a(href="#") Игрушки для малышей и дошколь...
                    li: a(href="#") Игры настольные
                    li: a(href="#") Музыкальные инструменты
                    li: a(href="#") Бытовая техника для детей
                    li: a(href="#") Электроника для детей
