.catalogMenu__wrapper
    .catalogMenu
        nav.catalogMenu-menu__container    
            div(class="catalogMenu-menu") 
                div(class="catalogMenu-title-menu__container" onclick="openMenuCatalog(this);return false")   
                    .catalogMenu-title-menu Интернет-магазин
                    .catalogMenu-title-menu-arrow    
                ul.menu-li-catalogMenu__hidden
                    li: a(href="#") О магазине
                    li: a(href="#") Доставка и оплата
                    li: a(href="#") Обмен и возврат товара
                    li: a(href="#") Правила продажи
                    li: a(href="#") 5 причин покупать у нас
                    li: a(href="#") Промокоды