.footer__wrapper
    .footer
        .footer-320
            .footer-title Узнавайте первым о наших скидках и акциях!
            form.footer-discount
                input(class="input-footer-discount" id="input-footer-discount" type="text" placeholder="Электронная почта")
                .footer-discount-button__wrapper
                    .footer-discount-button Подписаться
            .footer-title Скачайте мобильное приложение
            .footer-apps-container
                .footer-app
                    .footer-app-img.footer-app-img1
                .footer-app
                    .footer-app-img.footer-app-img2
            nav.footer-menu__container    
                div(class="footer-menu") 
                    div(class="footer-title-menu__container" onclick="openMenuFooter(this);return false")   
                        .footer-title-menu Интернет-магазин
                        .footer-title-menu-arrow    
                    ul.menu-li-footer__hidden
                        li: a(href="#") О магазине
                        li: a(href="#") Доставка и оплата
                        li: a(href="#") Обмен и возврат товара
                        li: a(href="#") Правила продажи
                        li: a(href="#") 5 причин покупать у нас
                        li: a(href="#") Промокоды
                div(class="footer-menu")  
                    div(class="footer-title-menu__container" onclick="openMenuFooter(this);return false")    
                        .footer-title-menu О компании
                        .footer-title-menu-arrow    
                    ul.menu-li-footer__hidden
                        li: a(href="#") Контакты
                        li: a(href="#") Новости
                        li: a(href="#") Вакансии
                        li: a(href="#") Акции
                        li: a(href="#") Магазины
                div(class="footer-menu") 
                    div(class="footer-title-menu__container" onclick="openMenuFooter(this);return false")     
                        .footer-title-menu Корпоративный блок
                        .footer-title-menu-arrow    
                    ul.menu-li-footer__hidden
                        li: a(href="#") Инвесторам
                        li: a(href="#") Раскрытие информации
                        li: a(href="#") Пресс-центр
                        li: a(href="#") Закупки
                        li: a(href="#") Аренда
                div(class="footer-menu") 
                    div(class="footer-title-menu__container" onclick="openMenuFooter(this);return false")     
                        .footer-title-menu Сервисы покупателя
                        .footer-title-menu-arrow    
                    ul.menu-li-footer__hidden
                        li: a(href="#") Подарочные карты
                        li: a(href="#") Бонусные карты
                        li: a(href="#") Электронные подарочные сетрификаты
                        li: a(href="#") Проверка баланса подарочной карты
                        li: a(href="#") Ситибанк
                        li: a(href="#") Кара возврата
            .footer-social-networks__container
                    .footer-social-networks__img.footer-social-networks__img1
                    .footer-social-networks__img.footer-social-networks__img2
                    .footer-social-networks__img.footer-social-networks__img3
                    .footer-social-networks__img.footer-social-networks__img4
                    .footer-social-networks__img.footer-social-networks__img5
        .footer-480
            .footer-title Узнавайте первым о наших скидках и акциях!
            form.footer-discount
                input(class="input-footer-discount" id="input-footer-discount" type="text" placeholder="Электронная почта")
                .footer-discount-button__wrapper
                    .footer-discount-button Подписаться
            .footer-apps__wrapper
                .footer-title.footer-title-apps Скачайте мобильное приложение
                .footer-apps-container
                    .footer-app
                        .footer-app-img.footer-app-img1
                    .footer-app
                        .footer-app-img.footer-app-img2
            .footer-social-networks__wrapper 
                .footer-title Мы в социальных сетях
                .footer-social-networks__container
                    .footer-social-networks__box
                        .footer-social-networks__img.footer-social-networks__img1
                        .footer-social-networks__img.footer-social-networks__img2
                        .footer-social-networks__img.footer-social-networks__img3
                    .footer-social-networks__box2
                        .footer-social-networks__img.footer-social-networks__img4
                        .footer-social-networks__img.footer-social-networks__img5
            nav.footer-menu__container    
                div(class="footer-menu") 
                    div(class="footer-title-menu__container" onclick="openMenuFooter(this);return false")   
                        .footer-title-menu Интернет-магазин
                        .footer-title-menu-arrow    
                    ul.menu-li-footer__hidden
                        li: a(href="#") О магазине
                        li: a(href="#") Доставка и оплата
                        li: a(href="#") Обмен и возврат товара
                        li: a(href="#") Правила продажи
                        li: a(href="#") 5 причин покупать у нас
                        li: a(href="#") Промокоды
                div(class="footer-menu")  
                    div(class="footer-title-menu__container" onclick="openMenuFooter(this);return false")    
                        .footer-title-menu О компании
                        .footer-title-menu-arrow    
                    ul.menu-li-footer__hidden
                        li: a(href="#") Контакты
                        li: a(href="#") Новости
                        li: a(href="#") Вакансии
                        li: a(href="#") Акции
                        li: a(href="#") Магазины
                div(class="footer-menu") 
                    div(class="footer-title-menu__container" onclick="openMenuFooter(this);return false")     
                        .footer-title-menu Корпоративный блок
                        .footer-title-menu-arrow    
                    ul.menu-li-footer__hidden
                        li: a(href="#") Инвесторам
                        li: a(href="#") Раскрытие информации
                        li: a(href="#") Пресс-центр
                        li: a(href="#") Закупки
                        li: a(href="#") Аренда
                div(class="footer-menu") 
                    div(class="footer-title-menu__container" onclick="openMenuFooter(this);return false")     
                        .footer-title-menu Сервисы покупателя
                        .footer-title-menu-arrow    
                    ul.menu-li-footer__hidden
                        li: a(href="#") Подарочные карты
                        li: a(href="#") Бонусные карты
                        li: a(href="#") Электронные подарочные сетрификаты
                        li: a(href="#") Проверка баланса подарочной карты
                        li: a(href="#") Ситибанк
                        li: a(href="#") Кара возврата
        .footer-768
            .footer-discount__wrapper
                .footer-title Узнавайте первым о наших скидках и акциях!
                form.footer-discount
                    input(class="input-footer-discount" id="input-footer-discount" type="text" placeholder="Электронная почта")
                    .footer-discount-button__wrapper
                        .footer-discount-button Подписаться
            .footer-apps__wrapper
                .footer-title.footer-title-apps Скачайте мобильное приложение
                .footer-apps-container
                    .footer-app
                        .footer-app-img.footer-app-img1
                    .footer-app
                        .footer-app-img.footer-app-img2
            nav.footer-menu__container    
                div(class="footer-menu") 
                    div(class="footer-title-menu__container" onclick="openMenuFooter(this);return false")   
                        .footer-title-menu Интернет-магазин
                        .footer-title-menu-arrow    
                    ul.menu-li-footer__hidden
                        li: a(href="#") О магазине
                        li: a(href="#") Доставка и оплата
                        li: a(href="#") Обмен и возврат товара
                        li: a(href="#") Правила продажи
                        li: a(href="#") 5 причин покупать у нас
                        li: a(href="#") Промокоды
                div(class="footer-menu")  
                    div(class="footer-title-menu__container" onclick="openMenuFooter(this);return false")    
                        .footer-title-menu О компании
                        .footer-title-menu-arrow    
                    ul.menu-li-footer__hidden
                        li: a(href="#") Контакты
                        li: a(href="#") Новости
                        li: a(href="#") Вакансии
                        li: a(href="#") Акции
                        li: a(href="#") Магазины
                div(class="footer-menu") 
                    div(class="footer-title-menu__container" onclick="openMenuFooter(this);return false")     
                        .footer-title-menu Корпоративный блок
                        .footer-title-menu-arrow    
                    ul.menu-li-footer__hidden
                        li: a(href="#") Инвесторам
                        li: a(href="#") Раскрытие информации
                        li: a(href="#") Пресс-центр
                        li: a(href="#") Закупки
                        li: a(href="#") Арeнда
                div(class="footer-menu") 
                    div(class="footer-title-menu__container" onclick="openMenuFooter(this);return false")     
                        .footer-title-menu Сервисы покупателя
                        .footer-title-menu-arrow    
                    ul.menu-li-footer__hidden
                        li: a(href="#") Подарочные карты
                        li: a(href="#") Бонусные карты
                        li: a(href="#") Электронные подарочные сетрификаты
                        li: a(href="#") Проверка баланса подарочной карты
                        li: a(href="#") Ситибанк
                        li: a(href="#") Кара возврата
            .footer-social-networks__wrapper 
                .footer-title Мы в социальных сетях
                .footer-social-networks__container
                        .footer-social-networks__img.footer-social-networks__img1
                        .footer-social-networks__img.footer-social-networks__img2
                        .footer-social-networks__img.footer-social-networks__img3
                        .footer-social-networks__img.footer-social-networks__img4
                        .footer-social-networks__img.footer-social-networks__img5
        .footer-1000
            .footer-discount__wrapper
                .footer-title Узнавайте первым о наших скидках и акциях!
                form.footer-discount
                    input(class="input-footer-discount" id="input-footer-discount" type="text" placeholder="Электронная почта")
                    .footer-discount-button__wrapper
                        .footer-discount-button Подписаться
            .footer-apps__wrapper
                .footer-title.footer-title-apps Скачайте мобильное приложение
                .footer-apps-container
                    .footer-app
                        .footer-app-img.footer-app-img1
                    .footer-app
                        .footer-app-img.footer-app-img2
            .footer-social-networks__wrapper 
                .footer-title Мы в социальных сетях
                .footer-social-networks__container
                        .footer-social-networks__img.footer-social-networks__img1
                        .footer-social-networks__img.footer-social-networks__img2
                        .footer-social-networks__img.footer-social-networks__img3
                        .footer-social-networks__img.footer-social-networks__img4
                        .footer-social-networks__img.footer-social-networks__img5
            nav.footer-menu__container    
                div(class="footer-menu") 
                    div(class="footer-title-menu__container")   
                        .footer-title-menu Интернет-магазин   
                    ul.menu-li-footer__hidden
                        li: a(href="#") О магазине
                        li: a(href="#") Доставка и оплата
                        li: a(href="#") Обмен и возврат товара
                        li: a(href="#") Правила продажи
                        li: a(href="#") 5 причин покупать у нас
                        li: a(href="#") Промокоды
                div(class="footer-menu")  
                    div(class="footer-title-menu__container")    
                        .footer-title-menu О компании
                    ul.menu-li-footer__hidden
                        li: a(href="#") Контакты
                        li: a(href="#") Новости
                        li: a(href="#") Вакансии
                        li: a(href="#") Акции
                        li: a(href="#") Магазины
                div(class="footer-menu") 
                    div(class="footer-title-menu__container")     
                        .footer-title-menu Корпоративный блок   
                    ul.menu-li-footer__hidden
                        li: a(href="#") Инвесторам
                        li: a(href="#") Раскрытие информации
                        li: a(href="#") Пресс-центр
                        li: a(href="#") Закупки
                        li: a(href="#") Арeнда
                div(class="footer-menu") 
                    div(class="footer-title-menu__container")     
                        .footer-title-menu Сервисы покупателя    
                    ul.menu-li-footer__hidden
                        li: a(href="#") Подарочные карты
                        li: a(href="#") Бонусные карты
                        li: a(href="#") Электронные подарочные сетрификаты
                        li: a(href="#") Проверка баланса подарочной карты
                        li: a(href="#") Ситибанк
                        li: a(href="#") Кара возврата
        .footer-bottom-text__container
            .footer-bottom-text__item © 1996–2021 Группа компаний «Детский мир»
            .footer-bottom-text__item  Правовые условия пользования сайтом
        .developers