.header__wrapper
    .header
        .header-smoll
            .header-smoll-320
                .header-smoll__container1
                    .header-smoll-logotip
                    .header-smoll-list
                        .header-smoll-list-text
                            a(href="#")
                                h6 Еще
                .header-smoll__container2
                    .order-status
                        a(href="#")
                            h6 Статус заказа
                    .chat
                        .chat-dot__container
                            .chat-dot
                            .chat-dot
                            .chat-dot
            .header-smoll-480
                .logotip
                .city
                    a(href="#")
                        h6 Москва
                .score
                    a(href="#")
                        h6 Магазины
                .order-status
                    a(href="#")
                        h6 Статус заказа
                .chat__container
                    .chat
                    .chat-text
                        a(href="#")
                            h6 Чат
            .header-smoll-768
                .header-smoll-768__container1
                    ul
                        li
                            a(href="index.html")
                                .logotip
                        li 
                            .city
                                a(href="#")
                                    h6 Москва
                        li 
                            .score
                                a(href="#")
                                    h6 Магазины
                        li.header-desctop-li
                                a(href="#")
                                    h6 Удобная доставка
                        li.header-desctop-li
                                a(href="#")
                                    h6 Безопасная оплата
                        li.header-desctop-li
                                a(href="#")
                                    h6 Быстрый возврат и обмен
                        li.header-desctop-li
                                a(href="#")
                                    h6 Партнерам
                .header-smoll-768__container2
                    .order-status
                        a(href="#")
                            h6 Статус заказа
                    .chat__container
                        .chat
                            .chat-dot__container
                            .chat-dot
                            .chat-dot
                            .chat-dot
                        .chat-text
                            a(href="#")
                                h6 Чат
        .menu__wrapper.menu-hidden
.main
    .main-320
        .main-top
            .main-logo
            .main-top-container
                .main-top-search
                .main-top-profile
                .main-top-basket
        .catalog-button-wrapper
            .catalog-button
                .catalog-button-container
                    .catalog-button-img
                    .catalog-button-img
                    .catalog-button-img
                .catalog-button-text
                            a(href="#")
                                h6 Каталог
    .main-480
        .main-top
            .main-logo
            .main-top-container
                .main-top-discount
                    .main-top-discount-stick
                .main-top-profile
                .main-top-basket
        form.main-bottom
            input(id="input-nain-bottom" type="text" placeholder="Поиск")
            .main-top-search
            .catalog-button-wrapper
                .catalog-button
                    .catalog-button-container
                        .catalog-button-img
                        .catalog-button-img
                        .catalog-button-img
                    .catalog-button-text
                        a(href="#")
                            h6 Каталог
    .main-768
        .main-logo
        .main-768__container
            .main-top-container
                .main-top-search
                .main-top-discount
                    .main-top-discount-stick
                .main-top-profile
                .main-top-basket
            .catalog-button-wrapper
                .catalog-button
                    .catalog-button-container
                        .catalog-button-img
                        .catalog-button-img
                        .catalog-button-img
                    .catalog-button-text
                        a(href="#")
                            h6 Каталог
    .main-1000
        .main-1000-top
            .main-logo__wrapper
                .main-logo
                .main-logo2
            .main-1000-top__container
                form.main-bottom
                    input(type="text" placeholder="Поиск")
                    .main-top-search
                    .main-top-foto-search
                    .main-top-foto-search-in
                .main-top-container
                    .main-top-discount
                        .main-top-discount-stick
                    .main-top-profile
                    .main-top-basket
        .main-1000-bottom
            .catalog-button-wrapper
                .catalog-button
                    .catalog-button-container  
                        .catalog-button-img
                        .catalog-button-img
                        .catalog-button-img
                    .catalog-button-text
                        a(href="#")
                            h6 Каталог
            .swiper-main-menu__wrapper
                .swiper.swiper-main-menu
                    .swiper-wrapper
                        .swiper-slide
                            .main-menu-item.main-menu-stock
                                a(href="#")
                                    h6 Акции %
                        .swiper-slide
                            .main-menu-item
                                a(href="toys-games.html"): h6 Игрушки и игры
                        .swiper-slide
                            .main-menu-item
                                a(href="#")
                                    h6 Гигиена и уход
                        .swiper-slide
                            .main-menu-item
                                a(href="#")
                                    h6 Детская комната
                        .swiper-slide
                            .main-menu-item
                                a(href="#")
                                    h6 Питание и кормление
                        .swiper-slide
                            .main-menu-item
                                a(href="#")
                                    h6 Прогулки и путешествия
                        .swiper-slide
                            .main-menu-item
                                a(href="#")
                                    h6 Одежда и обувь
                        .swiper-slide
                            .main-menu-item
                                a(href="#")
                                    h6 Школа
                        .swiper-slide
                            .main-menu-item
                                a(href="#")
                                    h6 Спорт и отдых
                        .swiper-slide
                            .main-menu-item
                                a(href="#")
                                    h6 Хобби и творчество
                        .swiper-slide
                            .main-menu-item
                                a(href="#")
                                    h6 Lorem ipsum lorem
                .swiper-button-prev-unique
                .swiper-button-next-unique





