.piple-reviews320 {
    display: flex;
    flex-wrap: wrap;
}
.piple-reviews480 {
    display: none;
}
.piple-reviews768__wrapper {
    display: none;
}
.piple-reviews-stars__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.piple-reviews-num {
    font-family: CirceBold;
    font-size: 14px;
    line-height: 21px;
    color: #1d1d1d;
    font-weight: 400;
    margin-right: 5px;
}
.piple-reviews-stars__container {
    display: flex;
}
.piple-reviews-stars {
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-right: 10px;
}
.piple-reviews-stars1 {
    background-image: url("../img/card-defolt/stars.svg");
}
.piple-reviews-stars2 {
    background-image: url("../img/card-defolt/stars-half.svg");
}
.piple-reviews-chat__container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.piple-reviews-chat {
    font-family: CirceRoundedRegular3;
    font-size: 14px;
    line-height: 21px;
    color: #0073e6;
    font-weight: 400;
    margin-right: 6px;
}
.piple-reviews-chat-img {
    width: 20px;
    height: 14px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../img/card-defolt/chat.jpg");
    margin-right: 10.67px;
}
.piple-reviews-like {
    width: 15px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../img/card-defolt/heart-blue.svg");
}
.product-brand__container {
    width: 246px;
    height: 40px;
    background: #dfecf8;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.product-brand-title {
    font-family: CirceRoundedRegular3;
    font-size: 14px;
    line-height: 21px;
    color: #1d1d1d;
    font-weight: 400;
}
.product-brand-name {
    font-family: CirceRoundedRegular3;
    font-size: 24px;
    line-height: 35px;
    color: #f24e1e;
}
.product__wrapper {
    width: 300px;
    margin: 0 auto;
}
.product-swiper__container {
    position: relative;
    width: 100%;
    height: 384px;
    padding-top: 40px;
    margin-bottom: 16px;
    background: #ffffff;
    border-radius: 10px;
}
.swiper-product1 {
    width: 202px;
    height: 248px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
.product-img {
    width: 202px;
    height: 248px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.product-img1 {
    background-image: url("../img/product/alatoys/1.jpg");
}
.product-img2 {
    background-image: url("../img/product/alatoys/2.jpg");
}
.product-img3 {
    background-image: url("../img/product/alatoys/3.jpg");
}
.product-img4 {
    background-image: url("../img/product/alatoys/4.jpg");
}
.product-img5 {
    background-image: url("../img/product/alatoys/5.jpg");
}
.swiper-product2 {
    width: 282px;
    height: 72px;
    margin-left: auto;
    margin-right: 0;
}
.swiper-product2 .swiper-slide-active {
    border: 1px solid #0073e6;
    box-sizing: border-box;
    border-radius: 10px;
}
.product-img-smoll {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.product-arrow__container {
    top: 156px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0 23.77px;
}
.product-arrow-prev {
    width: 16px;
    height: 32px;
    background-image: url("../img/swiper/arrow-prev.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
}
.product-arrow-next {
    width: 16px;
    height: 32px;
    background-image: url("../img/swiper/arrow-prev.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: rotate(180deg);
    cursor: pointer;
}
.product-swipe {
    position: absolute;
    top: 14.5px;
    right: 14.08px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("../img/card-defolt/swipe.svg");
    cursor: pointer;
}
@media screen and (min-width: 480.95px) {
    .piple-reviews320 {
        display: none;
    }
    .piple-reviews480 {
        display: block;
    }
    .piple-reviews480__container {
        display: flex;
    }
    .product-brand__container {
        margin-right: 16px;
    }
    .piple-reviews-chat-img,
    .piple-reviews-like {
        transform: scale(1.4);
    }
    .piple-reviews-chat-img {
        margin-right: 20px;
    }
    .product__wrapper {
        width: 460px;
    }
    .product-swiper__container {
        height: 649px;
        margin-bottom: 30px;
    }
    .swiper-product1 {
        width: 311.21px;
        height: 439.06px;
        margin-bottom: 7.86px;
    }
    .product-img {
        width: 311.21px;
        height: 439.08px;
    }
    .swiper-product2 {
        width: 430px;
        height: 114px;
    }
    .product-img-smoll {
        width: 113.23px;
        height: 112px;
    }
    .product-arrow__container {
        top: 283.33px;
        padding: 0 39.87px;
    }
    .product-arrow-prev {
        width: 20px;
        height: 40px;
    }
    .product-arrow-next {
        width: 20px;
        height: 40px;
    }
    .product-swipe {
        width: 32px;
        height: 32px;
        top: 28px;
        right: 27px;
    }
}
@media screen and (min-width: 768.95px) {
    .piple-reviews320__wrapper > .toys-games-title {
        display: none;
    }
    .piple-reviews480 {
        display: none;
    }
    .piple-reviews768__wrapper {
        display: block;
        margin-bottom: 30px;
    }
    .piple-reviews-stars__wrapper {
        margin-left: 20px;
    }
    .piple-reviews768__container {
        display: flex;
        align-items: center;
    }
    .piple-reviews768__wrapper > .toys-games-title {
        margin-right: 20px;
    }
    .piple-reviews-num {
        font-size: 18px;
        line-height: 27px;
    }
    .piple-reviews-stars {
        width: 22px;
        height: 22px;
    }
    .piple-reviews-favorites {
        display: flex;
        justify-content: space-between;
        width: 117px;
    }
    .piple-reviews-chat {
        margin-right: 18px;
    }
    .product-brand__container {
        margin-bottom: 0;
    }
    .toys-games-title h2 {
        font-family: CirceRoundedRegular3;
    }
    .product__wrapper {
        width: 640px;
    }
    .product-swiper__container {
        height: 649px;
    }
    .swiper-product1 {
        width: 432.99px;
        height: 439.06px;
    }
    .product-img {
        width: 432.99px;
        height: 439.08px;
    }
    .swiper-product2 {
        width: 611.6px;
        height: 114px;
        margin: 0 auto;
    }
    .product-img-smoll {
        width: 113.23px;
        height: 112px;
    }
    .product-arrow__container {
        top: 283.33px;
        padding: 0 39.87px;
    }
    .product-arrow-prev {
        width: 20px;
        height: 40px;
    }
    .product-arrow-next {
        width: 20px;
        height: 40px;
    }
    .product-swipe {
        width: 32px;
        height: 32px;
        top: 28px;
        right: 27px;
    }
}
