.brand__wrapper
    .news-title-container.brand-title-container    
        .news-title 
            h2 Популярные бренды
        .arrow-news-wrapper
            .arrow-news
    .brand__container
        .brand
            .brand-img.brand-img1
        .brand
            .brand-img.brand-img2
        .brand
            .brand-img.brand-img3
        .brand
            .brand-img.brand-img4
        .brand
            .brand-img.brand-img5
        .brand
            .brand-img.brand-img6
        .brand
            .brand-img.brand-img7
        .brand
            .brand-img.brand-img8
        .brand
            .brand-img.brand-img9
        .brand
            .brand-img.brand-img10
        .brand
            .brand-img.brand-img11
        .brand
            .brand-img.brand-img12
    .brand-show-more__wrapper
        .brand-show-more Показать ещё