.smoll-banner-title
    h2 Вам может понравится
.card-defolt-container
.swiper.swiper-curd-defolt
        .swiper-wrapper
            .swiper-slide
                .card-defolt
                    .card-defolt-circle-top.card-defolt-circle-top1
                        .card-defolt-circle-top1-text
                            .card-defolt-circle-top1-text1 -
                            .card-defolt-circle-top1-text2 52
                            .card-defolt-circle-top1-text1 %
                    .card-defolt-heart
                    .card-defolt-img.card-defolt-img-1
                    .card-defolt-name 
                        h6 Сортер Alatoys ДМР14
                    .card-defolt-production-evaluation
                        .production-evaluation
                            span 5
                        .stars-container 
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                        .card-defolt-reviews 
                            .card-defolt-reviews__text
                                span 23
                            .chat
                                .chat-dot__container
                    .card-defolt-price
                        .card-defolt-price-new 1579₽
                        .card-defolt-price-old 3329₽
            .swiper-slide
                .card-defolt
                    .card-defolt-circle-top.card-defolt-circle-top2 New
                    .card-defolt-heart
                    .card-defolt-img.card-defolt-img-2
                    .card-defolt-name 
                        h6 Игрушка infantino Львенок 216274
                    .card-defolt-production-evaluation
                        .production-evaluation
                            span 5
                        .stars-container 
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-zero
                        .card-defolt-reviews 
                            .card-defolt-reviews__text
                                span 23
                            .chat
                                .chat-dot__container
                    .card-defolt-price
                        .card-defolt-price-new2 439₽
            .swiper-slide
                .card-defolt
                    .card-defolt-circle-top.card-defolt-circle-top1
                        .card-defolt-circle-top1-text
                            .card-defolt-circle-top1-text1 -
                            .card-defolt-circle-top1-text2 52
                            .card-defolt-circle-top1-text1 %
                    .card-defolt-circle-top-duble.card-defolt-circle-top2 New
                    .card-defolt-heart
                    .card-defolt-img.card-defolt-img-3
                    .card-defolt-name 
                        h6 Сортер Alatoys ДМР14
                    .card-defolt-production-evaluation
                        .production-evaluation
                            span 5
                        .stars-container 
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                        .card-defolt-reviews 
                            .card-defolt-reviews__text
                                span 23
                            .chat
                                .chat-dot__container
                    .card-defolt-price
                        .card-defolt-price-new 1579₽
                        .card-defolt-price-old 3329₽
            .swiper-slide
                .card-defolt
                    .card-defolt-heart
                    .card-defolt-img.card-defolt-img-4
                    .card-defolt-name 
                        h6 Сортер Alatoys ДМР14
                    .card-defolt-production-evaluation
                        .production-evaluation
                            span 5
                        .stars-container 
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                        .card-defolt-reviews 
                            .card-defolt-reviews__text
                                span 23
                            .chat
                                .chat-dot__container
                    .card-defolt-price
                        .card-defolt-price-new 1579₽
                        .card-defolt-price-old 3329₽
            .swiper-slide
                .card-defolt
                    .card-defolt-circle-top.card-defolt-circle-top1
                        .card-defolt-circle-top1-text
                            .card-defolt-circle-top1-text1 -
                            .card-defolt-circle-top1-text2 52
                            .card-defolt-circle-top1-text1 %
                    .card-defolt-heart
                    .card-defolt-img.card-defolt-img-1
                    .card-defolt-name 
                        h6 Сортер Alatoys ДМР14
                    .card-defolt-production-evaluation
                        .production-evaluation
                            span 5
                        .stars-container 
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                        .card-defolt-reviews 
                            .card-defolt-reviews__text
                                span 23
                            .chat
                                .chat-dot__container
                    .card-defolt-price
                        .card-defolt-price-new 1579₽
                        .card-defolt-price-old 3329₽
            .swiper-slide
                .card-defolt
                    .card-defolt-circle-top.card-defolt-circle-top2 New
                    .card-defolt-heart
                    .card-defolt-img.card-defolt-img-2
                    .card-defolt-name 
                        h6 Игрушка infantino Львенок 216274
                    .card-defolt-production-evaluation
                        .production-evaluation
                            span 5
                        .stars-container 
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-zero
                        .card-defolt-reviews 
                            .card-defolt-reviews__text
                                span 23
                            .chat
                                .chat-dot__container
                    .card-defolt-price
                        .card-defolt-price-new2 439₽
            .swiper-slide
                .card-defolt
                    .card-defolt-circle-top.card-defolt-circle-top1
                        .card-defolt-circle-top1-text
                            .card-defolt-circle-top1-text1 -
                            .card-defolt-circle-top1-text2 52
                            .card-defolt-circle-top1-text1 %
                    .card-defolt-circle-top-duble.card-defolt-circle-top2 New
                    .card-defolt-heart
                    .card-defolt-img.card-defolt-img-3
                    .card-defolt-name 
                        h6 Сортер Alatoys ДМР14
                    .card-defolt-production-evaluation
                        .production-evaluation
                            span 5
                        .stars-container 
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                        .card-defolt-reviews 
                            .card-defolt-reviews__text
                                span 23
                            .chat
                                .chat-dot__container
                    .card-defolt-price
                        .card-defolt-price-new 1579₽
                        .card-defolt-price-old 3329₽
            .swiper-slide
                .card-defolt
                    .card-defolt-heart
                    .card-defolt-img.card-defolt-img-4
                    .card-defolt-name 
                        h6 Сортер Alatoys ДМР14
                    .card-defolt-production-evaluation
                        .production-evaluation
                            span 5
                        .stars-container 
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                        .card-defolt-reviews 
                            .card-defolt-reviews__text
                                span 23
                            .chat
                                .chat-dot__container
                    .card-defolt-price
                        .card-defolt-price-new 1579₽
                        .card-defolt-price-old 3329₽
        .swiper-card-defolt-control
                .swiper-card-defolt-circle-prev
                    .swiper-button-prev-card-defolt
                    .prev-card-defolt-arrow
                .swiper-card-defolt-circle-next  
                    .swiper-button-next-card-defolt                   
                    .next-card-defolt-arrow
        .swiper-pagination-card-defolt 