.swiper-main-bunner__wrapper
    .swiper.swiper-main-bunner
        .swiper-wrapper
            .swiper-slide
                    .main-banner.main-banner1
                        .main-banner-img.main-banner-img1
                        .main-banner-line.main-banner-line1
                        .main-banner-text
                            span ТОП-20 лучших детских подарков к Новому году
                        .main-banner-text-bottom 
                            h6 по мнению наших покупателей* 
                        .main-banner-button
                            h6 Перейти
                        .main-banner-discount
                            .main-banner-discount-text
                                .main-banner-discount-text-1
                                    <span>до</span>
                                .main-banner-discount-text-50
                                    <h3>50</h3>
                                .main-banner-discount-text-2
                                    <span>%</span>                                        
            .swiper-slide
                    .main-banner.main-banner1
                        .main-banner-img.main-banner-img1
                        .main-banner-line.main-banner-line1
                        .main-banner-text
                            span ТОП-20 лучших детских подарков к Новому году
                        .main-banner-text-bottom 
                            h6 по мнению наших покупателей* 
                        .main-banner-button
                            h6 Перейти
                        .main-banner-discount
                            .main-banner-discount-text
                                .main-banner-discount-text-1
                                    <span>до</span>
                                .main-banner-discount-text-50
                                    <h3>50</h3>
                                .main-banner-discount-text-2
                                    <span>%</span>                                        
            .swiper-slide
                    .main-banner.main-banner1
                        .main-banner-img.main-banner-img1
                        .main-banner-line.main-banner-line1
                        .main-banner-text
                            span ТОП-20 лучших детских подарков к Новому году
                        .main-banner-text-bottom 
                            h6 по мнению наших покупателей* 
                        .main-banner-button
                            h6 Перейти
                        .main-banner-discount
                            .main-banner-discount-text
                                .main-banner-discount-text-1
                                    <span>до</span>
                                .main-banner-discount-text-50
                                    <h3>50</h3>
                                .main-banner-discount-text-2
                                    <span>%</span>                                        
            .swiper-slide
                    .main-banner.main-banner1
                        .main-banner-img.main-banner-img1
                        .main-banner-line.main-banner-line1
                        .main-banner-text
                            span ТОП-20 лучших детских подарков к Новому году
                        .main-banner-text-bottom 
                            h6 по мнению наших покупателей* 
                        .main-banner-button
                            h6 Перейти
                        .main-banner-discount
                            .main-banner-discount-text
                                .main-banner-discount-text-1
                                    <span>до</span>
                                .main-banner-discount-text-50
                                    <h3>50</h3>
                                .main-banner-discount-text-2
                                    <span>%</span>                                        
            .swiper-slide
                    .main-banner.main-banner1
                        .main-banner-img.main-banner-img1
                        .main-banner-line.main-banner-line1
                        .main-banner-text
                            span ТОП-20 лучших детских подарков к Новому году
                        .main-banner-text-bottom 
                            h6 по мнению наших покупателей* 
                        .main-banner-button
                            h6 Перейти
                        .main-banner-discount
                            .main-banner-discount-text
                                .main-banner-discount-text-1
                                    <span>до</span>
                                .main-banner-discount-text-50
                                    <h3>50</h3>
                                .main-banner-discount-text-2
                                    <span>%</span>                                        
            .swiper-slide
                    .main-banner.main-banner1
                        .main-banner-img.main-banner-img1
                        .main-banner-line.main-banner-line1
                        .main-banner-text
                            span ТОП-20 лучших детских подарков к Новому году
                        .main-banner-text-bottom 
                            h6 по мнению наших покупателей* 
                        .main-banner-button
                            h6 Перейти
                        .main-banner-discount
                            .main-banner-discount-text
                                .main-banner-discount-text-1
                                    <span>до</span>
                                .main-banner-discount-text-50
                                    <h3>50</h3>
                                .main-banner-discount-text-2
                                    <span>%</span>                                        
        //- .swiper-pagination-main-banner-progressbar__wrapper
        //- .swiper-pagination-main-banner-progressbar#swiper-pagination-main-banner-progressbar
        .swiper-main-banner-control__wrapper
            .swiper-main-banner-control
                .swiper-main-banner-circle-prev
                    .swiper-button-prev-main-banner
                    .prev-main-banner-arrow
                .swiper-main-banner-circle-next  
                    .swiper-button-next-main-banner                   
                    .next-main-banner-arrow
            .swiper-pagination-main-banner
