.main-banner.main-banner1
    .main-banner-img.main-banner-img1
    .main-banner-line.main-banner-line1
    .main-banner-text
        span ТОП-20 лучших детских подарков к Новому году
    .main-banner-text-bottom 
        h6 по мнению наших покупателей* 
    .main-banner-button
        h6 Перейти
    .main-banner-discount
        .main-banner-discount-text
            .main-banner-discount-text-1
                <span>до</span>
            .main-banner-discount-text-50
                <h3>50</h3>
            .main-banner-discount-text-2
                <span>%</span>
