.smoll-banner-title
    h2 Популярные коллекции
.mediumBanner__container
    .medium-banner.mediumBanner1
        .medium-banner-img.medium-banner-img1
        .medium-banner-line.medium-banner-line1
        .medium-banner-text
            span Топ самых безопасных игрушек
            .medium-banner-text-bottom
                h6 по мнению наших покупателей
        .medium-banner-button
            h6 Перейти
    .medium-banner.mediumBanner2
        .medium-banner-img.medium-banner-img2
        .medium-banner-line.medium-banner-line2
        .medium-banner-text.medium-banner-text2
            span Идеи обустройства детской комнаты
        .medium-banner-button
            h6 Перейти
