.news__wrapper
    .news-title-container    
        .news-title 
            h2 Наши новости
        .arrow-news-wrapper
            .arrow-news
    .news__container
        .news
            .news-data 2 НОЯБРЯ
            .news-description Антиковидные ограничения в Самарской области
        .news
            .news-data 23 ОКТЯБРЯ
            .news-description Антиковидные ограничения в Самарской области
        .news
            .news-data 15 ОКТЯБРЯ
            .news-description Встречайте новинку! Новые полностью натуральные влажные салфетки Hugg...
        .news
            .news-data 20 ОКТЯБРЯ
            .news-description Конструктор GraviTrax — победитель премии «Золотой Медвежонок-2020»
    .news__container-1000
        .news__container-1000-left
            .news-left
                .news-data-left 2 НОЯБРЯ
                .news-description-left Встречайте новинку! Новые полностью натуральные влажные салфетки Huggies Natural!
        .news__container-1000-right
            .news
                .news-data 23 ОКТЯБРЯ
                .news-description Антиковидные ограничения в Самарской области
            .news
                .news-data 15 ОКТЯБРЯ
                .news-description Встречайте новинку – печенье от Малютки!
            .news
                .news-data 20 ОКТЯБРЯ
                .news-description Конструктор GraviTrax — победитель премии «Золотой Медвежонок-2020»
            .news
                .news-data 3 ОКТЯБРЯ
                .news-description Ликвидация витринных образцов в ТЦ «Московский» (г. Москва)