.reviews-title
    h2 Лучшие обзоры осени 2021
.swiper.swiper-reviews
    .swiper-wrapper
        .swiper-slide
            .reviews.reviews-1
                .reviews-disc 
                    .reviews-play
                .reviews-text Товары для детского творчества                     
        .swiper-slide
            .reviews.reviews-2
                .reviews-disc 
                    .reviews-play
                .reviews-text Обзор лучших интерактивных прило...
        .swiper-slide
            .reviews.reviews-3
                .reviews-disc 
                    .reviews-play
                .reviews-text Тесто для леки: варианты игр
        .swiper-slide
            .reviews.reviews-4
                .reviews-disc 
                    .reviews-play
                .reviews-text Разнополые дети: варианты совместн...
        .swiper-slide
            .reviews.reviews-1
                .reviews-disc 
                    .reviews-play
                .reviews-text Товары для детского творчества                     
        .swiper-slide
            .reviews.reviews-2
                .reviews-disc 
                    .reviews-play
                .reviews-text Обзор лучших интерактивных прило...
        .swiper-slide
            .reviews.reviews-3
                .reviews-disc 
                    .reviews-play
                .reviews-text Тесто для леки: варианты игр
        .swiper-slide
            .reviews.reviews-4
                .reviews-disc 
                    .reviews-play
                .reviews-text Разнополые дети: варианты совместн...
    .swiper-reviews-circle-prev
        .prev-reviews-arrow
    .swiper-reviews-circle-next                     
        .next-reviews-arrow
    .swiper-pagination-reviews    