.smoll-banner-title
    h2 Цена дня
.smoll-banner__container
    .smoll-banner.smoll-banner1
        .smoll-banner-img.smoll-banner-img1
        .smoll-banner-line.smoll-banner-line1
        .smoll-banner-text
            span Наборы посуды для кормления
        .smoll-banner-button
            h6 Перейти
        .smoll-banner-discount
            .smoll-banner-discount-text
                .smoll-banner-discount-text-1
                    <span>-</span>
                .smoll-banner-discount-text-50
                    <h3>30</h3>
                .smoll-banner-discount-text-2
                    <span>%</span>
    .smoll-banner.smoll-banner2
        .smoll-banner-img.smoll-banner-img2
        .smoll-banner-line.smoll-banner-line2
        .smoll-banner-text
            h6 Новинка:
            span Зимняя коллекция LEGO
        .smoll-banner-button
            h6 Перейти
        .smoll-banner-discount
            .smoll-banner-discount-text
                .smoll-banner-discount-text-1
                    <span>-</span>
                .smoll-banner-discount-text-50
                    <h3>40</h3>
                .smoll-banner-discount-text-2
                    <span>%</span>
    .smoll-banner.smoll-banner3
        .smoll-banner-img.smoll-banner-img3
        .smoll-banner-line.smoll-banner-line3
        .smoll-banner-text
            span Средства гигиены и ухода за малышом
        .smoll-banner-button
            h6 Перейти
        .smoll-banner-discount
            .smoll-banner-discount-text
                .smoll-banner-discount-text-1
                    <span>-</span>
                .smoll-banner-discount-text-50
                    <h3>50</h3>
                .smoll-banner-discount-text-2
                    <span>%</span>
    .smoll-banner.smoll-banner4
        .smoll-banner-img.smoll-banner-img4
        .smoll-banner-line.smoll-banner-line4
        .smoll-banner-text
            h6 Новинка: 
            span Зимняя коллекция Oldos
        .smoll-banner-button
            h6 Перейти
        .smoll-banner-discount
            .smoll-banner-discount-text
                .smoll-banner-discount-text-50.smoll-banner-discount-text-50-change
                .smoll-banner-discount-text-1
                h3 1
                .smoll-banner-discount-text-2
                span +
                .smoll-banner-discount-text-1
                h3 1
                .smoll-banner-discount-text-2
                span =
                .smoll-banner-discount-text-1
                h3 3
.smoll-banner-button-show-all
    h6 Показать ещё