.smoll-banner-title
    h2 Специальные предложения
.special-offers__container
    .special-offers.special-offers-1
        .special-offers-text Скидка 15% на первый заказ в приложении Detmir
        .special-offers-button Узнать больше
        .special-offers-img.special-offers-img-1
    .special-offers.special-offers-2
        .special-offers-text Экономьте до 30% со скидочной картой
        .special-offers-button Узнать больше
        .special-offers-img.special-offers-img-2
    .special-offers.special-offers-3
        .special-offers-text Скидка 5% за подписку на наши выгодные предложения
        .special-offers-button Узнать больше
        .special-offers-img.special-offers-img-3
        