.toys-games-wrapper
    .toys-games-nav__container
        .toys-games-nav-arrow.educational-toys-nav-arrow
        .toys-games-nav Развивающие игрушкки
    .toys-games-title
        h2 Развивающие игрушки
    .swiper.swiper-educational-toys
        .swiper-wrapper
            .swiper-slide
                .toys-games-menu__block пирамидки
            .swiper-slide
                .toys-games-menu__block деревянные
            .swiper-slide
                .toys-games-menu__block звуковые плакаты
            .swiper-slide
                .toys-games-menu__block до 1 года
            .swiper-slide
                .toys-games-menu__block от 1 года
            .swiper-slide
                .toys-games-menu__block от 2 лет
            .swiper-slide
                .toys-games-menu__block от 3 лет
            .swiper-slide.swiper-slide-educational-toys-hidden
                .toys-games-menu__block от 4 лет
            .swiper-slide.swiper-slide-educational-toys-hidden
                .toys-games-menu__block от 5 лет
            .swiper-slide.swiper-slide-educational-toys-hidden
                .toys-games-menu__block от 6 лет
            .swiper-slide.swiper-slide-educational-toys18-hidden
                .toys-games-menu__block.educational-toys-show-all показать все 18
            .swiper-slide.swiper-slide-educational-toys-hidden
                .toys-games-menu__block.educational-toys-show-all показать все 15
    .educational-toys-menu__container768
        .toys-games-menu__block пирамидки
        .toys-games-menu__block деревянные
        .toys-games-menu__block звуковые плакаты
        .toys-games-menu__block до 1 года
        .toys-games-menu__block от 1 года
        .toys-games-menu__block от 2 лет
        .toys-games-menu__block от 3 лет
        .toys-games-menu__block.swiper-slide-educational-toys-hidden от 4 лет
        .toys-games-menu__block.swiper-slide-educational-toys-hidden от 5 лет
        .toys-games-menu__block.swiper-slide-educational-toys-hidden от 6 лет
        .toys-games-menu__block.educational-toys-show-all.swiper-slide-educational-toys18-hidden показать все 18
        .toys-games-menu__block.educational-toys-show-all.swiper-slide-educational-toys-hidden показать все 15
    .educational-toys__container-wrapper768
        .educational-toys-functions
            button.educational-toys-way-to-get
                .educational-toys-way-to-get-text Способ получения
                .educational-toys-way-to-get-arrow
            button.educational-toys-way-to-get
                .educational-toys-way-to-get-text Сортировка
                .educational-toys-way-to-get-arrow
            .educational-toys-filter
                .educational-toys-filter-img
        .educational-toys-functions768
            .educational-toys-way-to-get__container
                .educational-toys-way-to-get-text1.etwtg__container Cпособ получения
                button.educational-toys-way-to-get-place.etwtg__container г. Москва, ТРЦ “Пушкинский”
                .educational-toys-way-to-get-text2.etwtg__container Изменить
            .educational-toys-functions768__container
                .educational-toys-sort768__block
                    .educational-toys-sort768-1 Сортировка:
                    .educational-toys-sort768-1 Популярность
                    .educational-toys-sort768-2 Новизна
                    .educational-toys-price768__block
                        .educational-toys-sort768-2 Цена
                        .educational-toys-sort768-arow 
                    .educational-toys-sort768-2 Скидка
                .educational-toys-filters768__block
                    .educational-toys-filters768-text Фильтры
                    .educational-toys-filter-img
        .educational-toys__container 
            .card-defolt
                .card-defolt-circle-top.card-defolt-circle-top1
                    .card-defolt-circle-top1-text
                        .card-defolt-circle-top1-text1 -
                        .card-defolt-circle-top1-text2 41
                        .card-defolt-circle-top1-text1 %
                .card-defolt-heart
                .card-defolt-img.card-defolt-img-5
                .card-defolt-name 
                    h6.card-defolt-name320 Сортер Alatoys ДМР14
                    h6.card-defolt-name768 Развивающая игрушка BabyGo Жираф с вертушкой
                .card-defolt-production-evaluation
                    .production-evaluation
                        span 5
                    .stars-container 
                        .stars.stars-fool
                        .stars.stars-fool.stars-none
                        .stars.stars-fool.stars-none
                        .stars.stars-fool.stars-none
                        .stars.stars-fool.stars-none
                    .card-defolt-reviews 
                        .card-defolt-reviews__text
                            span 110
                        .chat
                            .chat-dot__container
                .card-defolt-price
                    .card-defolt-price-new 699₽
                    .card-defolt-price-old 1199₽
            .card-defolt
                .card-defolt-circle-top.card-defolt-circle-top1
                    .card-defolt-circle-top1-text
                        .card-defolt-circle-top1-text1 -
                        .card-defolt-circle-top1-text2 50
                        .card-defolt-circle-top1-text1 %
                .card-defolt-circle-top-duble.card-defolt-circle-top2 New
                .card-defolt-heart
                .card-defolt-img.card-defolt-img-6
                .card-defolt-name 
                    h6 Сортер Alatoys ДМР14
                .card-defolt-production-evaluation
                    .production-evaluation
                        span 4
                    .stars-container 
                        .stars.stars-fool
                        .stars.stars-fool.stars-none
                        .stars.stars-fool.stars-none
                        .stars.stars-fool.stars-none
                        .stars.stars-zero.stars-none
                    .card-defolt-reviews 
                        .card-defolt-reviews__text
                            span 34
                        .chat
                            .chat-dot__container
                .card-defolt-price
                    .card-defolt-price-new 649₽
                    .card-defolt-price-old 1299₽
            .card-defolt
                .card-defolt-circle-top.card-defolt-circle-top1
                    .card-defolt-circle-top1-text
                        .card-defolt-circle-top1-text1 -
                        .card-defolt-circle-top1-text2 42
                        .card-defolt-circle-top1-text1 %
                .card-defolt-heart
                .card-defolt-img.card-defolt-img-7
                .card-defolt-name 
                    h6.card-defolt-name320 BabyGo Собачка OC-19R1N0129
                    h6.card-defolt-name768 Игрушка развивающая BabyGo Собачка OC-19R1N0129
                .card-defolt-production-evaluation
                    .production-evaluation
                        span 4
                    .stars-container 
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-zero
                    .card-defolt-reviews 
                        .card-defolt-reviews__text
                            span 110
                        .chat
                            .chat-dot__container
                .card-defolt-price
                    .card-defolt-price-new 289₽
                    .card-defolt-price-old 499₽
            .card-defolt
                .card-defolt-circle-top.card-defolt-circle-top1
                    .card-defolt-circle-top1-text
                        .card-defolt-circle-top1-text1 -
                        .card-defolt-circle-top1-text2 35
                        .card-defolt-circle-top1-text1 %
                .card-defolt-heart
                .card-defolt-img.card-defolt-img-8
                .card-defolt-name 
                    h6.card-defolt-name320 Быстрая горка большая LL204
                    h6.card-defolt-name768 Игрушка МДИ Быстрая горка большая LL204
                .card-defolt-production-evaluation
                    .production-evaluation
                        span 5
                    .stars-container 
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-fool
                    .card-defolt-reviews 
                        .card-defolt-reviews__text
                            span 47
                        .chat
                            .chat-dot__container
                .card-defolt-price
                    .card-defolt-price-new 1529₽
                    .card-defolt-price-old 2359₽
            .card-defolt
                .card-defolt-circle-top.card-defolt-circle-top1
                    .card-defolt-circle-top1-text
                        .card-defolt-circle-top1-text1 -
                        .card-defolt-circle-top1-text2 52
                        .card-defolt-circle-top1-text1 %
                .card-defolt-circle-top-duble.card-defolt-circle-top2 New
                .card-defolt-heart
                .card-defolt-img.card-defolt-img-3
                .card-defolt-name 
                    h6 Сортер BabyGo Пирамидка
                .card-defolt-production-evaluation
                    .production-evaluation
                        span 5
                    .stars-container 
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-fool
                    .card-defolt-reviews 
                        .card-defolt-reviews__text
                            span 23
                        .chat
                            .chat-dot__container
                .card-defolt-price
                    .card-defolt-price-new 649₽
                    .card-defolt-price-old 1299₽
            .card-defolt
                .card-defolt-circle-top.card-defolt-circle-top1
                    .card-defolt-circle-top1-text
                        .card-defolt-circle-top1-text1 -
                        .card-defolt-circle-top1-text2 52
                        .card-defolt-circle-top1-text1 %    
                .card-defolt-heart
                .card-defolt-img.card-defolt-img-9
                .card-defolt-name 
                    h6.card-defolt-name320 Куб МДИ 2 LL187
                    h6.card-defolt-name768 Куб МДИ 2 универсальный LL187
                .card-defolt-production-evaluation
                    .production-evaluation
                        span 4
                    .stars-container 
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-zero
                    .card-defolt-reviews 
                        .card-defolt-reviews__text
                            span 12
                        .chat
                            .chat-dot__container
                .card-defolt-price
                    .card-defolt-price-new 649₽
                    .card-defolt-price-old 1299₽
            .card-defolt
                .card-defolt-circle-top.card-defolt-circle-top1
                    .card-defolt-circle-top1-text
                        .card-defolt-circle-top1-text1 -
                        .card-defolt-circle-top1-text2 52
                        .card-defolt-circle-top1-text1 %
                .card-defolt-heart
                .card-defolt-img.card-defolt-img-1
                .card-defolt-name 
                    h6 Сортер Alatoys ДМР14
                .card-defolt-production-evaluation
                    .production-evaluation
                        span 5
                    .stars-container 
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-fool
                    .card-defolt-reviews 
                        .card-defolt-reviews__text
                            span 23
                        .chat
                            .chat-dot__container
                .card-defolt-price
                    .card-defolt-price-new 1579₽
                    .card-defolt-price-old 3329₽
            .card-defolt
                .card-defolt-heart
                .card-defolt-img.card-defolt-img-4
                .card-defolt-name 
                    h6 Сортер Alatoys ДМР14
                .card-defolt-production-evaluation
                    .production-evaluation
                        span 5
                    .stars-container 
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-fool
                    .card-defolt-reviews 
                        .card-defolt-reviews__text
                            span 23
                        .chat
                            .chat-dot__container
                .card-defolt-price
                    .card-defolt-price-new 1579₽
                    .card-defolt-price-old 3329₽
            .card-defolt
                .card-defolt-circle-top.card-defolt-circle-top2 New
                .card-defolt-heart
                .card-defolt-img.card-defolt-img-2
                .card-defolt-name 
                    h6.card-defolt-name320 Львенок 216274
                    h6.card-defolt-name768  Игрушка infantino Львенок 216274
                .card-defolt-production-evaluation
                    .production-evaluation
                        span 5
                    .stars-container 
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-fool
                        .stars.stars-zero
                    .card-defolt-reviews 
                        .card-defolt-reviews__text
                            span 23
                        .chat
                            .chat-dot__container
                .card-defolt-price
                    .card-defolt-price-new2 439₽
    .educational-toys__container-wrapper1000
        .educational-toys__block-wrapper1000-1
            .educational-toys-way-to-get__wrapper
                .educational-toys-way-to-get__name Мой способ получения
                .educational-toys-way-to-get__wrapper-block.educational-toys-way-to-get__wrapper-block-1 
                    .educational-toys-way-to-get-1-1 В магазине
                    .educational-toys-way-to-get-2 г. Москва, ТРЦ “Пушкинский”
                .educational-toys-way-to-get__wrapper-block
                    .educational-toys-way-to-get-1-2 Курьер
                    .educational-toys-way-to-get-2 + Добавить
                .educational-toys-way-to-get__wrapper-block
                    .educational-toys-way-to-get-1-2 Пункт выдачи
                    .educational-toys-way-to-get-2 +Добавить
                .educational-toys-way-to-get-change Изменить
            .educational-toys-criterias__wrapper
                .educational-toys-criterias-price__container
                    .educational-toys-criterias-price-title Цена
                    .educational-toys-criterias-price__block
                        .educational-toys-criterias-price-item от
                            input(type="text" placeholder="65" id="educational-toys-criterias-price-start-input")
                        .educational-toys-criterias-price__block-line
                        .educational-toys-criterias-price-item до 
                            input(type="text" placeholder="14 490" id="educational-toys-criterias-price-end-input")
                    .educational-toys-criterias-price-schedule
                        .educational-toys-criterias-price-schedule-background.e-t-c-p-s-b1
                        .educational-toys-criterias-price-schedule-line
                        .educational-toys-criterias-price-schedule-background.e-t-c-p-s-b2
                        .educational-toys-criterias-price-schedule-line
                        .educational-toys-criterias-price-schedule-background.e-t-c-p-s-b3
                        .educational-toys-criterias-price-schedule-line
                        .educational-toys-criterias-price-schedule-background.e-t-c-p-s-b4
                        .educational-toys-criterias-price-schedule-line
                        .educational-toys-criterias-price-schedule-background.e-t-c-p-s-b5
                        .educational-toys-criterias-price-schedule-line
                        .educational-toys-criterias-price-schedule-background.e-t-c-p-s-b6
                    .educational-toys-criterias-price-slider
                        #form
                            .bar
                                .label 
                                    #html5
                    .educational-toys-criterias-price-borders
                        .educational-toys-criterias-price-border до 199                        
                        .educational-toys-criterias-price-border до 399                        
                        .educational-toys-criterias-price-border до 599
                    nav#menuVertical-criterias
                        ul
                            li
                                .catalogMenu-title-menu__container
                                    .catalogMenu-title-menu: a(href="toys-games.html" id="catalogMenu-title-menu") Бренд
                                    .catalogMenu-title-menu-arrow-criterias#catalogMenu-title-menu-arrow-criterias    
                                ul
                                    li
                                        .catalogMenu-title-menu__container
                                            .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu2") BabyGo
                                            .catalogMenu-title-menu-arrow-criterias#catalogMenu-title-menu-arrow-criterias2 
                                    li
                                        .catalogMenu-title-menu__container
                                            .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu2") Alatoys
                                            .catalogMenu-title-menu-arrow-criterias#catalogMenu-title-menu-arrow-criterias2
                                    li
                                        .catalogMenu-title-menu__container
                                            .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu2") МДИ
                                            .catalogMenu-title-menu-arrow-criterias#catalogMenu-title-menu-arrow-criterias2
                            li
                                .catalogMenu-title-menu__container
                                    .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Категория
                                    .catalogMenu-title-menu-arrow-criterias#catalogMenu-title-menu-arrow-criterias
                            li
                                .catalogMenu-title-menu__container
                                    .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Возраст
                                    .catalogMenu-title-menu-arrow-criterias#catalogMenu-title-menu-arrow-criterias
                            li
                                .catalogMenu-title-menu__container
                                    .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Пол
                                    .catalogMenu-title-menu-arrow-criterias#catalogMenu-title-menu-arrow-criterias
                            li
                                .catalogMenu-title-menu__container
                                    .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Скидка
                                    .catalogMenu-title-menu-arrow-criterias#catalogMenu-title-menu-arrow-criterias
                            li
                                .catalogMenu-title-menu__container
                                    .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Звуковые эффекты
                                    .catalogMenu-title-menu-arrow-criterias#catalogMenu-title-menu-arrow-criterias
                            li
                                .catalogMenu-title-menu__container
                                    .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Световые эффекты
                                    .catalogMenu-title-menu-arrow-criterias#catalogMenu-title-menu-arrow-criterias
                            li
                                .catalogMenu-title-menu__container
                                    .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Вид питания
                                    .catalogMenu-title-menu-arrow-criterias#catalogMenu-title-menu-arrow-criterias
                            li
                                .catalogMenu-title-menu__container
                                    .catalogMenu-title-menu: a(href="#" id="catalogMenu-title-menu") Особенности
                                    .catalogMenu-title-menu-arrow-criterias#catalogMenu-title-menu-arrow-criterias 
                    .educational-toys-criterias-show-all Показать (2345)                
                    .educational-toys-criterias-clear-all Очистить всё                
        .educational-toys__block-wrapper1000-2
            .educational-toys-sort768__block
                .educational-toys-sort768-1 Сортировка:
                .educational-toys-sort768-1 Популярность
                .educational-toys-sort768-2 Новизна
                .educational-toys-sort768-2 Цена
                .educational-toys-sort768-2 Скидка
            .educational-toys-way-to-get__container
                .educational-toys-way-to-get-text1.etwtg__container Cпособ получения
                button.educational-toys-way-to-get-place.etwtg__container г. Москва, ТРЦ “Пушкинский”
                button.educational-toys-clear-all Очистить всё
            .educational-toys__container 
                .card-defolt
                    .card-defolt-circle-top.card-defolt-circle-top1
                        .card-defolt-circle-top1-text
                            .card-defolt-circle-top1-text1 -
                            .card-defolt-circle-top1-text2 41
                            .card-defolt-circle-top1-text1 %
                    .card-defolt-heart
                    .card-defolt-img.card-defolt-img-5
                    .card-defolt-name 
                        h6.card-defolt-name320 Сортер Alatoys ДМР14
                        h6.card-defolt-name768 Развивающая игрушка BabyGo Жираф с вертушкой
                    .card-defolt-production-evaluation
                        .production-evaluation
                            span 5
                        .stars-container 
                            .stars.stars-fool
                            .stars.stars-fool.stars-none
                            .stars.stars-fool.stars-none
                            .stars.stars-fool.stars-none
                            .stars.stars-fool.stars-none
                        .card-defolt-reviews 
                            .card-defolt-reviews__text
                                span 110
                            .chat
                                .chat-dot__container
                    .card-defolt-price
                        .card-defolt-price-new 699₽
                        .card-defolt-price-old 1199₽
                .card-defolt
                    .card-defolt-circle-top.card-defolt-circle-top1
                        .card-defolt-circle-top1-text
                            .card-defolt-circle-top1-text1 -
                            .card-defolt-circle-top1-text2 50
                            .card-defolt-circle-top1-text1 %
                    .card-defolt-circle-top-duble.card-defolt-circle-top2 New
                    .card-defolt-heart
                    .card-defolt-img.card-defolt-img-6
                    .card-defolt-name 
                        h6 Сортер Alatoys ДМР14
                    .card-defolt-production-evaluation
                        .production-evaluation
                            span 4
                        .stars-container 
                            .stars.stars-fool
                            .stars.stars-fool.stars-none
                            .stars.stars-fool.stars-none
                            .stars.stars-fool.stars-none
                            .stars.stars-zero.stars-none
                        .card-defolt-reviews 
                            .card-defolt-reviews__text
                                span 34
                            .chat
                                .chat-dot__container
                    .card-defolt-price
                        .card-defolt-price-new 649₽
                        .card-defolt-price-old 1299₽
                .card-defolt
                    .card-defolt-circle-top.card-defolt-circle-top1
                        .card-defolt-circle-top1-text
                            .card-defolt-circle-top1-text1 -
                            .card-defolt-circle-top1-text2 42
                            .card-defolt-circle-top1-text1 %
                    .card-defolt-heart
                    .card-defolt-img.card-defolt-img-7
                    .card-defolt-name 
                        h6.card-defolt-name320 BabyGo Собачка OC-19R1N0129
                        h6.card-defolt-name768 Игрушка развивающая BabyGo Собачка OC-19R1N0129
                    .card-defolt-production-evaluation
                        .production-evaluation
                            span 4
                        .stars-container 
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-zero
                        .card-defolt-reviews 
                            .card-defolt-reviews__text
                                span 110
                            .chat
                                .chat-dot__container
                    .card-defolt-price
                        .card-defolt-price-new 289₽
                        .card-defolt-price-old 499₽
                .card-defolt
                    .card-defolt-circle-top.card-defolt-circle-top1
                        .card-defolt-circle-top1-text
                            .card-defolt-circle-top1-text1 -
                            .card-defolt-circle-top1-text2 35
                            .card-defolt-circle-top1-text1 %
                    .card-defolt-heart
                    .card-defolt-img.card-defolt-img-8
                    .card-defolt-name 
                        h6.card-defolt-name320 Быстрая горка большая LL204
                        h6.card-defolt-name768 Игрушка МДИ Быстрая горка большая LL204
                    .card-defolt-production-evaluation
                        .production-evaluation
                            span 5
                        .stars-container 
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                        .card-defolt-reviews 
                            .card-defolt-reviews__text
                                span 47
                            .chat
                                .chat-dot__container
                    .card-defolt-price
                        .card-defolt-price-new 1529₽
                        .card-defolt-price-old 2359₽
                .card-defolt
                    .card-defolt-circle-top.card-defolt-circle-top1
                        .card-defolt-circle-top1-text
                            .card-defolt-circle-top1-text1 -
                            .card-defolt-circle-top1-text2 52
                            .card-defolt-circle-top1-text1 %
                    .card-defolt-circle-top-duble.card-defolt-circle-top2 New
                    .card-defolt-heart
                    .card-defolt-img.card-defolt-img-3
                    .card-defolt-name 
                        h6 Сортер BabyGo Пирамидка
                    .card-defolt-production-evaluation
                        .production-evaluation
                            span 5
                        .stars-container 
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                        .card-defolt-reviews 
                            .card-defolt-reviews__text
                                span 23
                            .chat
                                .chat-dot__container
                    .card-defolt-price
                        .card-defolt-price-new 649₽
                        .card-defolt-price-old 1299₽
                .card-defolt
                    .card-defolt-circle-top.card-defolt-circle-top1
                        .card-defolt-circle-top1-text
                            .card-defolt-circle-top1-text1 -
                            .card-defolt-circle-top1-text2 52
                            .card-defolt-circle-top1-text1 %    
                    .card-defolt-heart
                    .card-defolt-img.card-defolt-img-9
                    .card-defolt-name 
                        h6.card-defolt-name320 Куб МДИ 2 LL187
                        h6.card-defolt-name768 Куб МДИ 2 универсальный LL187
                    .card-defolt-production-evaluation
                        .production-evaluation
                            span 4
                        .stars-container 
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-zero
                        .card-defolt-reviews 
                            .card-defolt-reviews__text
                                span 12
                            .chat
                                .chat-dot__container
                    .card-defolt-price
                        .card-defolt-price-new 649₽
                        .card-defolt-price-old 1299₽
                .card-defolt
                    .card-defolt-circle-top.card-defolt-circle-top1
                        .card-defolt-circle-top1-text
                            .card-defolt-circle-top1-text1 -
                            .card-defolt-circle-top1-text2 52
                            .card-defolt-circle-top1-text1 %
                    .card-defolt-heart
                    .card-defolt-img.card-defolt-img-1
                    .card-defolt-name 
                        h6 Сортер Alatoys ДМР14
                    .card-defolt-production-evaluation
                        .production-evaluation
                            span 5
                        .stars-container 
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                        .card-defolt-reviews 
                            .card-defolt-reviews__text
                                span 23
                            .chat
                                .chat-dot__container
                    .card-defolt-price
                        .card-defolt-price-new 1579₽
                        .card-defolt-price-old 3329₽
                .card-defolt
                    .card-defolt-heart
                    .card-defolt-img.card-defolt-img-4
                    .card-defolt-name 
                        h6 Сортер Alatoys ДМР14
                    .card-defolt-production-evaluation
                        .production-evaluation
                            span 5
                        .stars-container 
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                        .card-defolt-reviews 
                            .card-defolt-reviews__text
                                span 23
                            .chat
                                .chat-dot__container
                    .card-defolt-price
                        .card-defolt-price-new 1579₽
                        .card-defolt-price-old 3329₽
                .card-defolt
                    .card-defolt-circle-top.card-defolt-circle-top2 New
                    .card-defolt-heart
                    .card-defolt-img.card-defolt-img-2
                    .card-defolt-name 
                        h6.card-defolt-name320 Львенок 216274
                        h6.card-defolt-name768  Игрушка infantino Львенок 216274
                    .card-defolt-production-evaluation
                        .production-evaluation
                            span 5
                        .stars-container 
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-fool
                            .stars.stars-zero
                        .card-defolt-reviews 
                            .card-defolt-reviews__text
                                span 23
                            .chat
                                .chat-dot__container
                    .card-defolt-price
                        .card-defolt-price-new2 439₽
            
