.toys-games-wrapper
    .toys-games-nav__container
        .toys-games-nav__container1000
            .toys-games-nav Детский мир
            .toys-games-nav-arrow.educational-toys-nav-arrow
            .toys-games-nav Игры и игрушки
            .toys-games-nav-arrow.educational-toys-nav-arrow
            .toys-games-nav Игрушки для малышей и дошкольников
            .toys-games-nav-arrow.educational-toys-nav-arrow
            .toys-games-nav Развивающие игрушкки
            .toys-games-nav-arrow.educational-toys-nav-arrow
            .toys-games-nav Игрушки-сортеры
        .toys-games-nav-arrow.educational-toys-nav-arrow
        .toys-games-nav Alatoys
    .piple-reviews320__wrapper
        .toys-games-title
            h2 Сортер Alatoys  ДМР14
        .piple-reviews320
            .piple-reviews-stars__wrapper
                .piple-reviews-num 4,8
                .piple-reviews-stars__container
                    .piple-reviews-stars.piple-reviews-stars1
                    .piple-reviews-stars.piple-reviews-stars1
                    .piple-reviews-stars.piple-reviews-stars1
                    .piple-reviews-stars.piple-reviews-stars1
                    .piple-reviews-stars.piple-reviews-stars2
            .piple-reviews-chat__container
                .piple-reviews-chat 36
                .piple-reviews-chat-img
                .piple-reviews-like
            .product-brand__container
                .product-brand-title Все товары бренда 
                .product-brand-name Alatoys
        .piple-reviews480
            .piple-reviews-stars__wrapper
                .piple-reviews-num 4,8
                .piple-reviews-stars__container
                    .piple-reviews-stars.piple-reviews-stars1
                    .piple-reviews-stars.piple-reviews-stars1
                    .piple-reviews-stars.piple-reviews-stars1
                    .piple-reviews-stars.piple-reviews-stars1
                    .piple-reviews-stars.piple-reviews-stars2
            .piple-reviews480__container
                .product-brand__container
                    .product-brand-title Все товары бренда 
                    .product-brand-name Alatoys
                .piple-reviews-chat__container
                    .piple-reviews-chat 36
                    .piple-reviews-chat-img
                    .piple-reviews-like
    .piple-reviews768__wrapper
        .piple-reviews768__container
            .toys-games-title
                h2 Сортер Alatoys  ДМР14
            .piple-reviews-stars__wrapper
                .piple-reviews-num 4,8
                .piple-reviews-stars__container
                    .piple-reviews-stars.piple-reviews-stars1
                    .piple-reviews-stars.piple-reviews-stars1
                    .piple-reviews-stars.piple-reviews-stars1
                    .piple-reviews-stars.piple-reviews-stars1
                    .piple-reviews-stars.piple-reviews-stars2
        .piple-reviews768__container
            .product-brand__container
                .product-brand-title Все товары бренда 
                .product-brand-name Alatoys
            .piple-reviews-chat Оставить отзыв
            .piple-reviews-chat О товаре
            .piple-reviews-favorites
                .piple-reviews-like
                .piple-reviews-chat В избранное
    .product__wrapper
        .product__wrapper1
            .product-swiper__container
                .swiper.swiper-product1
                    .swiper-wrapper
                        .swiper-slide
                            .product-img.product-img1
                        .swiper-slide
                            .product-img.product-img2
                        .swiper-slide
                            .product-img.product-img3
                        .swiper-slide
                            .product-img.product-img4
                        .swiper-slide
                            .product-img.product-img5
                        .swiper-slide
                            .product-img.product-img1
                        .swiper-slide
                            .product-img.product-img2
                        .swiper-slide
                            .product-img.product-img3
                        .swiper-slide
                            .product-img.product-img4
                        .swiper-slide
                            .product-img.product-img5
                        .swiper-slide
                            .product-img.product-img1
                        .swiper-slide
                            .product-img.product-img2
                        .swiper-slide
                            .product-img.product-img3
                        .swiper-slide
                            .product-img.product-img4
                        .swiper-slide
                            .product-img.product-img5
                .swiper.swiper-product2
                        .swiper-wrapper
                            .swiper-slide
                                .product-img-smoll.product-img1
                            .swiper-slide
                                .product-img-smoll.product-img2
                            .swiper-slide
                                .product-img-smoll.product-img3
                            .swiper-slide
                                .product-img-smoll.product-img4
                            .swiper-slide
                                .product-img-smoll.product-img5
                            .swiper-slide
                                .product-img-smoll.product-img1
                            .swiper-slide
                                .product-img-smoll.product-img2
                            .swiper-slide
                                .product-img-smoll.product-img3
                            .swiper-slide
                                .product-img-smoll.product-img4
                            .swiper-slide
                                .product-img-smoll.product-img5
                            .swiper-slide
                                .product-img-smoll.product-img1
                            .swiper-slide
                                .product-img-smoll.product-img2
                            .swiper-slide
                                .product-img-smoll.product-img3
                            .swiper-slide
                                .product-img-smoll.product-img4
                            .swiper-slide
                                .product-img-smoll.product-img5
                .product-arrow__container
                    .product-arrow-prev
                    .product-arrow-next
                .product-swipe
            .price-delivery-info__container
        .product__wrapper2
