.toys-games-wrapper
    .toys-games-nav__container
        .toys-games-nav Детский мир
        .toys-games-nav-arrow
        .toys-games-nav Игры и игрушки
    .toys-games-title
        h2 Детские игры и игрушки
    .swiper.swiper-toys-games
        .swiper-wrapper
            .swiper-slide
                .toys-games-menu__block для мальчиков
            .swiper-slide
                .toys-games-menu__block для девочек
            .swiper-slide
                .toys-games-menu__block развивающие
            .swiper-slide
                .toys-games-menu__block конструкторы
            .swiper-slide
                .toys-games-menu__block куклы
            .swiper-slide
                .toys-games-menu__block машинки
            .swiper-slide
                .toys-games-menu__block игровые наборы
            .swiper-slide
                .toys-games-menu__block настольные
    .toys-games-menu__container768
        .toys-games-menu__block для мальчиков
        .toys-games-menu__block для девочек
        .toys-games-menu__block развивающие
        .toys-games-menu__block конструкторы
        .toys-games-menu__block куклы
        .toys-games-menu__block машинки
        .toys-games-menu__block игровые наборы
        .toys-games-menu__block настольные
    .toys-games__container
        .toys-games__block
            .toys-games__block-img.toys-games__block-img1
            .toys-games__block-title Конструкторы
        .toys-games__block
            .toys-games__block-img.toys-games__block-img2
            .toys-games__block-title Куклы и аксессуары
        .toys-games__block
            .toys-games__block-img.toys-games__block-img3
            .toys-games__block-title Мягкие игрушки
        .toys-games__block
            .toys-games__block-img.toys-games__block-img4
            .toys-games__block-title Игрушечный транспорт
        .toys-games__block
            .toys-games__block-img.toys-games__block-img5
            .toys-games__block-title Радиоуправляемые игрушки
        .toys-games__block
            .toys-games__block-img.toys-games__block-img6
            .toys-games__block-title Игровые наборы и фигурки
        .toys-games__block
            .toys-games__block-img.toys-games__block-img7
            .toys-games__block-title Сюжетно-ролевые наборы
        .toys-games__block
            .toys-games__block-img.toys-games__block-img8
            .toys-games__block-title Игрушки для малышей и дошкольников
        .toys-games__block
            .toys-games__block-img.toys-games__block-img9
            .toys-games__block-title Игры настольные
        .toys-games__block
            .toys-games__block-img.toys-games__block-img10
            .toys-games__block-title Музыкальные инструменты
        .toys-games__block
            .toys-games__block-img.toys-games__block-img11
            .toys-games__block-title Бытовая техника для детей
        .toys-games__block
            .toys-games__block-img.toys-games__block-img12
            .toys-games__block-title Электроника для детей