html
	include html/head.pug
		title Главная
	body
		.wrapper
			include html/catalogMenu.pug
			include html/header.pug	
			include html/main/mainBunner.pug
			include html/main/smollBanner.pug
			include html/main/card-defolt.pug
			include html/main/mediumBanner.pug
			include html/main/specialOffers.pug
			include html/main/news.pug
			include html/main/reviews.pug
			include html/main/brand.pug
			
		include html/footer.pug
		script(src='js/app.min.js')
