@font-face {
	font-family: CirceBold;
	font-display: swap;
	src: url("../fonts/CirceBold.woff2") format("woff2"), url("../fonts/CirceBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CirceRoundedRegular3;
	font-display: swap;
	src: url("../fonts/CirceRoundedRegular3.woff2") format("woff2"), url("../fonts/CirceRoundedRegular3.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CirceRegular;
	font-display: swap;
	src: url("../fonts/CirceRegular.woff2") format("woff2"), url("../fonts/CirceRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CirceRoundedRegular5;
	font-display: swap;
	src: url("../fonts/CirceRoundedRegular5.woff2") format("woff2"), url("../fonts/CirceRoundedRegular5.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
