@charset "UTF-8";
@import "zeroing.scss";
@import "header.scss";
@import "catalogMenu.scss";
@import "main/mainBunner.scss";
@import "main/smollBanner.scss";
@import "main/card-defolt.scss";
@import "main/mediumBanner.scss";
@import "main/specialOffers.scss";
@import "main/news.scss";
@import "main/reviews.scss";
@import "main/brand.scss";
@import "fonts";
@import "vendor.scss";
@import "main/footer.scss";

.wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 0 10px;
}
@media screen and (min-width: 480.95px) {
	.wrapper {
		width: 460px;
		margin: 0 auto;
		padding: 0;
	}
}
@media screen and (min-width: 768.95px) {
	.wrapper {
		width: 640px;
		margin: 0 auto;
	}
}
@media screen and (min-width: 1000.95px) {
	.wrapper {
		width: 960px;
		margin: 0 auto;
	}
}
@media screen and (min-width: 1440.95px) {
	.wrapper {
		width: 1200px;
		margin: 0 auto;
	}
}
h2 {
	font-family: CirceBold;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 35px;
	color: #1d1d1d;
}
@media screen and (min-width: 480.95px) {
	h2 {
		font-size: 24px;
		line-height: 35px;
	}
}
@media screen and (min-width: 768.95px) {
	h2 {
		font-size: 36px;
		line-height: 53px;
	}
}
@media screen and (min-width: 1000.95px) {
	h2 {
		font-size: 36px;
		line-height: 53px;
	}
}
@media screen and (min-width: 1440.95px) {
	h2 {
		font-size: 36px;
		line-height: 53px;
	}
}
h4 {
	// font-family: "CirceRoundedRegular3";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #000000;
}
h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
	font-family: CirceRoundedRegular3;
}
h5 {
	// font-family: "CirceRoundedRegular5";
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 31px;
	text-decoration-line: line-through;
	color: #000000;
}
h6 {
	font-family: CirceBold;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #6c859f;
}
span {
	font-family: CirceRoundedRegular3;
	font-size: 14px;
	line-height: 21px;
	color: #1d1d1d;
	text-align: left;
	font-weight: 400;
}
