@charset "UTF-8";
@import "zeroing.scss";
@import "header.scss";
@import "main/mainBunner.scss";
@import "main/smollBanner.scss";
@import "main/card-defolt.scss";
@import "main/mediumBanner.scss";
@import "main/specialOffers.scss";
@import "fonts";

h2 {
	font-family: CirceBold;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 35px;
	color: #1d1d1d;
}
@media screen and (min-width: 768.95px) {
	h2 {
		font-size: 36px;
		line-height: 53px;
	}
}
h4 {
	// font-family: "CirceRoundedRegular3";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #000000;
}
h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
	font-family: CirceRoundedRegular3;
}
h5 {
	// font-family: "CirceRoundedRegular5";
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 31px;
	text-decoration-line: line-through;
	color: #000000;
}
h6 {
	font-family: CirceBold;
	// font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #6c859f;
}
span {
	font-family: CirceRoundedRegular3;
	font-size: 14px;
	line-height: 21px;
	color: #1d1d1d;
	text-align: left;
	font-weight: 400;
}
@media screen and (min-width: 480.95px) {
	h2 {
		font-size: 24px;
		line-height: 35px;
	}
}
